.footer {
    background-color: #EEEEEE;
    padding-top: 92px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding-bottom: 95px;
}

.footer-container-sidebar {
    width: 300px;

}

.footer-sidebar-title {
    margin-bottom: 28px;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
}

.footer-sidebar-img {
    width: 300px;
    height: 300px;
    margin-bottom: 24px;
}

.footer-sidebar-text {
    margin: 50px 0 15px;
    position: relative;
}

.footer-sidebar-text::before {
    content: "";
    position: absolute;
    background-image: url(../images/footer/specialized_logotip.png);
    background-repeat: no-repeat;
    width: 107px;
    height: 30px;
    left: 0;
    top: -50px;
}

.footer-sidebar-link {
    font-weight: 600;
}

.footer-sidebar-link:hover {
    color: $main-color;
}

.footer-list {
    display: flex;
}

.footer-item {
    width: 187px;
    margin-right: 34px;
    font-weight: 600;
    line-height: 25px;
}

.footer-item:last-child {
    margin-right: 0;
}

.footer-sublist {
    margin-top: 21px;
}

.footer-sublink {
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
}

.footer-sublink:hover {
    color: $main-color;
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-copyright-logo {
    display: inline-block;
    vertical-align: top;
    width: 90px;
    height: 21px;
    margin-right: 14px;
}

.footer-copyright-text {
    display: inline-block;
    vertical-align: top;
    width: 301px;
    font-size: 12px;
    line-height: 15px;
}

.footer-copyright-right {
    margin-right: 75px;
}

.footer-copyright-data {
    font-size: 12px;
    line-height: 15px;
}

.footer-copyright-reserv {
    font-size: 12px;
    line-height: 15px;
}
