.about-lokalise-wrap {
    padding: 129px 0 172px 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.about-lokalise-wrap::after {
    content: '';
    position: absolute;
    background-image: url(../images/block1_about_Lokalise/where_to_apply_Lokalise.png);
    background-repeat: no-repeat;
    right: -8px;
    top: 151px;
    width: 759px;
    height: 529px;
}

.about-lokalise-title {
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
    max-width: 552px;
    margin-bottom: 51px;
}

.about-lokalise-text {
    width: 471px;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 51px;
}

.about-lokalise-buttons {
    margin-bottom: 25px;
}

.about-lokalise-button-try-it {
    @extend %button-size;
    @extend %button-color-orange;
}

.about-lokalise-button-book {
    @extend %button-size;
    @extend %button-color-white;
}

.about-lokalise-footer {
    font-size: 15px;
    line-height: 25px;
}

.companies-choice {
    background-color: #ff9c7d;
    padding: 108px 0 104px; 
}

.choice-title {
    max-width: 720px;
    margin: 0 auto;
    padding-bottom: 70px;
    @extend %title-style;
}

.choice-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.choice-item {
    max-height: 53px;
}
