.translation {
    background-color: #DABC98;
    padding: 80px 0px 84px;
}

.translation-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.translation-wrap-title {
    margin: 0 124px 0 222px;
    max-width: 461px;
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    position: relative;
}

.translation-wrap-title::after {
    content: "";
    position: absolute;
    background-image: url(../images/block7_translation_software/The_most-loved_translation_management_software.png);
    background-repeat: no-repeat;
    width: 176px;
    height: 154px;
    left: -243px;
    top: -40px;
}

.translation-wrap-rating-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 480px;
    min-height: 168px;
    border-left: 1px solid #000;
}

.translation-wrap-rating-box {
    margin-left: 30px;
}

.translation-wrap-rating-box:last-child {
    margin-right: 0;
}

.translation-wrap-rating-icon {

}

.translation-wrap-rating-subtitle {
    padding-top: 60px;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.75px;
    position: relative;
}

.translation-wrap-rating-subtitle::after {
    content: "";
    position: absolute;
    background-image: url(../images/block7_translation_software/five_stars.png);
    background-repeat: no-repeat;
    width: 128px;
    height: 20px;
    top: 18px;
    left: 0;
}
/*------------------------------------------------------------------*/
.supporting {
    padding: 165px 0 162px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.supporting-title {
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;
    text-align: center;
    width: 791px;
}

.supporting-text {
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 25px;
    width: 539px;
}

.supporting-img {
    width: 1023px;
    height: 445px;
    margin-bottom: 32px;
}

.supporting-link {
    @extend %button-size;
    @extend %button-color-orange;
}

/*---------------------------------------------------------------------*/
.localization {
    background-color: #FF9C7D;
    padding: 119px 75px 161px;
}

.localization-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.localization-title {
    width: 784px;
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;
    text-align: center;
    margin-bottom: 29px;
}

.localization-text {
    width: 784px;
    text-align: center;
    margin-bottom: 54px;
}

.localization-link {
    @extend %button-size;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
}

.localization-link:hover {
    background-color: #ffffff;
    border: 1px solid  $main-color;
    color: $main-color;
}
/*-------------------------------------------------------------------------*/