.about-lokalise-wrap {
    padding: 129px 0 172px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about-lokalise-title {
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
    max-width: 552px;
    margin-bottom: 51px;
}

.about-lokalise-text {
    max-width: 471px;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 51px;
    position: relative;
}

.about-lokalise-text::after {
    content: '';
    position: absolute;
    display: inline-block;
    vertical-align: top;
    background-image: url(../images/block1_about_Lokalise/where_to_apply_Lokalise.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 759px;
    height: 529px;
    right: -840px;
    top: -245px;

}

.about-lokalise-buttons {
    margin-bottom: 25px;
}

.about-lokalise-button-try-it {
    @extend %button-size;
    @extend %button-color-orange;
}

.about-lokalise-button-book {
    @extend %button-size;
    @extend %button-color-white;
}

.about-lokalise-footer {
    font-size: 15px;
    line-height: 25px;
}

.companies-choice {
    background-color: #ff9c7d;
    padding: 108px 0 104px; 
}

.choice-title {
    max-width: 720px;
    margin: 0 auto;
    padding-bottom: 70px;
    @extend %title-style;
}

.choice-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.choice-item {
    max-height: 53px;
}

.advantages-list {
    padding: 90px 0 150px;
}

.advantages-card {
    padding: 125px 0;
}

.advantages-card:first-child {
    padding: 0 0 125px 0;
}

.advantages-card:last-child {
    padding: 125px 0 0 0;
}

.advantages-card-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.advantages-card:nth-child(even) .advantages-card-wrap {
    flex-direction: row-reverse;
}

.advanteges-card-content {
    width: 520px;
}

.advantages-card-content-title {
    @extend %title-style;
    text-align: left;
    margin-bottom: 30px;
}

.advantages-card-content-link {
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
    font-weight: 600;
}

.advantages-card-content-link:hover {
    color: $main-color;
}

.advantages-card-img {
    width: 632px;
    height: 632px;
}