.application {
    background-color: #fff8e4;
    padding: 120px 0 147px;
}

.aplication-title {
    @extend %title-style;
    margin-bottom: 4px;
}

.aplication-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.aplication-card-wrap {
    width: 330px;
    margin-top: 75px;
}

.aplication-card-wrap-img {
    display: flex;
    justify-content: center;
    margin-bottom: 23px;
}

.aplication-card-wrap-img-icon {
    width: 160px;
    height: 120px;
}

.aplication-card-wrap-title {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 23px;
}

.aplication-card-wrap-text {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}
/*----------------------------------------------------------------*/
.boost-box-fix {
    padding: 154px 75px 187px;
}

.boost-title {
    @extend %title-style;
    margin-bottom: 25px;
}

.boost-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /*на випадок, якщо карток стане більше*/
}

.boost-card {
    width: 409px;
}

.boost-card-img {
    height: 250px;
    width: 250px;
    margin: 25px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.boost-card-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 34px;
}

.boost-card-link {
    display: inline-block;
    vertical-align: top;
    text-decoration: underline;
    margin-top: 25px;
}

.boost-card-link:hover {
    text-decoration: none;
    color: $main-color;
}
