.application {
    background-color: #fff8e4;
    padding: 120px 0 147px;
}

.aplication-title {
    @extend %title-style;
    margin-bottom: 4px;
}

.aplication-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.aplication-card-wrap {
    width: 330px;
    margin-top: 75px;
}

.aplication-card-wrap-img {
    display: flex;
    justify-content: center;
    margin-bottom: 23px;
}

.aplication-card-wrap-img-icon {
    width: 160px;
    height: 120px;
}

.aplication-card-wrap-title {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 23px;
}

.aplication-card-wrap-text {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}
/*----------------------------------------------------------------*/
.boost-box-fix {
    padding: 154px 75px 187px;
}

.boost-title {
    @extend %title-style;
    margin-bottom: 25px;
}

.boost-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /*на випадок, якщо карток стане більше*/
}

.boost-card {
    max-width: 409px;
}

.boost-card-img {
    height: 250px;
    width: 250px;
    margin: 25px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.boost-card-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 34px;
}

.boost-card-link {
    display: inline-block;
    vertical-align: top;
    text-decoration: underline;
    margin-top: 25px;
}

.boost-card-link:hover {
    text-decoration: none;
    color: $main-color;
}
/*--------------------------------------*/
.chief {
    background-color: #C9E8F2;
    padding: 53px 0 105px;

}

.chief-wrap {
    display: flex;
    justify-content: space-between;
}

.chief-wrap-content {
    width: 921px;
}

.chief-wrap-content-text {
    margin-bottom: 23px;
    font-size: 30px;
    line-height: 40px;
}

.chief-wrap-content-subtitle {
    font-size: 15px;
    line-height: 25px;
    padding-bottom: 35px;
    position: relative;
}

.chief-wrap-content-subtitle::after {
    content: "";  
    position: absolute;  
    background-image: url(../images/block6_Chief_Mobile_Officer/Partner_logo_of_Chief_Mobile_Officer.png);
    background-repeat: no-repeat;
    left: 0;
    top: 32px;
    width: 116px;
    height: 25px;
}

.chief-wrap-img {
    width: 310px;
    height: 310px;
}
