@media (max-width: 1439px) {
    .header-logo {
        margin-left: 0;
    }
    
    .header-item {
        margin-right: 27px;
    }

    .header-buttons {
        margin-right: 0;
    }
    /*-----------*/

    .choice-item {
        margin-right: 40px;
    }

    .choice-item:last-child {
        margin-right: 0;
    }
    /*------------------*/

    .advantages-card {
        padding: 50px 0;
    }

    .advantages-card:first-child {
        padding: 0 0 25px 0;
    }
    
    .advantages-card:last-child {
        padding: 25px 0 0 0;
    }

    .advantages-card-img {
        width: 49%;
        height: auto;
    }

    .advanteges-card-content {
        width: 49%;
    }

    /*-----------------------*/

    .chief-wrap-img {
        margin-left: 20px;
    }
    /*----------------------------*/

    .translation-wrap {
        flex-direction: column;

    }

    .translation-wrap-rating-container {
        border-left: none;
        border-top: 1px solid #000;
        margin: 30px 0 0 48px;
        padding-top: 30px;
    }

    .translation-wrap-rating-box {
        margin-right: 130px;
    }
}
/*----------------------------------------------------------------------------*/
/*---------------------------@media (max-width: 1024px)-----------------------*/
@media (max-width: 1024px) {
    .header-box {
        display: block;
    }

    .header-logo {
        margin-left: 25px;
    }

    .header-buttons {
        margin-top: 15px;
    }
    /*------------*/
    
    .about-lokalise-wrap {
        padding: 70px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about-lokalise-footer {
        padding-bottom: 60px;
    }
    /*----------------*/

    .choice-title {
        font-size: 40px;
        line-height: 50px;
        max-width: 580px;
    }

    .choice-item {
        margin-right: 50px;
    }

    .choice-item-img {
        max-width: 90%;
    }
    /*---------------------*/
     
    .boost-item {
        width: 100%;
    }

    .boost-card {
        margin: 0 auto;
    }

    .boost-card-img {
        margin: 45px 0 0;
    }

    .boost-card-title {
        margin-bottom: 10px;
    }

    .boost-card-link {
        margin-top: 15px;
    }
    /*---------------------------*/

    .translation {
        padding-top: 200px;
    }

    .translation-wrap-title {
        margin: 0;
        text-align: center;
    }

    .translation-wrap-title::after {
        content: "";
        left: 144px;
        top: -175px;
    }

    .translation-wrap-rating-container {
        margin-left: 0;
    }

/*----------------------------------------------------------------------------*/
/*------------------------@media (max-width: 768px)---------------------------*/    
}
@media (max-width: 768px) {
    
    .content-box {
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .header-list {
        display: inline;
    }

    .header-link {
        font-size: 20px;
    }
    /*------------------*/

    .about-lokalise-img {
        width: 80%;
    }

    .about-lokalise-title {
        font-size: 45px;
        line-height: 55px;
        margin-bottom: 25px;
    }
    
    .about-lokalise-button-try-it, .about-lokalise-button-book {
        min-width: 150px;
    }

    .about-lokalise-footer {
        font-size: 18px;
    }
    /*------------------------*/

    .choice-list {
        flex-direction: column;
  
    }

    .companies-choice {
        padding: 70px 0;
    }

    .choice-item {
        margin: 0 0 40px;

    }
    /*-----------------------------*/

    .advantages-card-wrap {
        flex-direction: column;
    }

    .advantages-card:nth-child(even) .advantages-card-wrap {
        flex-direction: column;
    }

    .advantages-card-img {
        width: 100%;
        height: auto;
    }

    .advanteges-card-content {
        width: 100%;
    }

    .advantages-card-content-link {
        margin-bottom: 30px;
    }

    .advantages-card-content-title {
        font-size: 45px;
        line-height: 55px;
    }

    .advantages-list {
        padding-bottom: 90px;
    }

    /*------------------------*/

    .application {
        padding: 90px 0;
    }

    /*-------------------------*/

    .boost-box-fix {
        padding-top: 90px;
        padding-bottom: 90px;
    }
    /*-----------------------*/

    .chief-wrap {
        flex-direction: column;
        align-items: center;
    }

    .chief-wrap-img {
        margin: 20px;
    }
    /*-----------------------*/

    .translation-wrap-title {
        width: 310px;
    }

    .translation-wrap-rating-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .translation-wrap-rating-box {
        margin: 40px 0 0 0;
    }

    .translation-wrap-title::after {
        content: "";
        left: 72px;
        top: -175px;
    }

    
}