@media (max-width: 1439px) {
    .header-logo {
        margin-left: 0;
    }
    
    .header-item {
        margin-right: 27px;
    }

    .header-buttons {
        margin-right: 0;
    }
    /*-----------*/

    .choice-item {
        margin-right: 40px;
    }

    .choice-item:last-child {
        margin-right: 0;
    }
    /*------------------*/

    .advantages-card {
        padding: 50px 0;
    }

    .advantages-card:first-child {
        padding: 0 0 25px 0;
    }
    
    .advantages-card:last-child {
        padding: 25px 0 0 0;
    }

    .advantages-card-img {
        width: 49%;
        height: auto;
    }

    .advanteges-card-content {
        width: 49%;
    }

    /*-----------------------*/
}
/*----------------------------------------------------------------------------*/
/*---------------------------@media (max-width: 1024px)-----------------------*/
@media (max-width: 1024px) {
    .header-box {
        display: block;
    }

    .header-logo {
        margin-left: 25px;
    }

    .header-buttons {
        margin-top: 15px;
    }
    /*------------*/
    
    .about-lokalise-wrap {
        padding: 70px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about-lokalise-footer {
        padding-bottom: 60px;
    }
    /*----------------*/

    .choice-title {
        font-size: 40px;
        line-height: 50px;
        max-width: 580px;
    }

    .choice-item {
        margin-right: 50px;
    }

    .choice-item-img {
        max-width: 90%;
    }
    /*---------------------*/
    
/*----------------------------------------------------------------------------*/
/*------------------------@media (max-width: 768px)---------------------------*/    
}
@media (max-width: 768px) {
    
    .content-box {
        padding: 0 25px;
    }
    
    .header-list {
        display: inline;
    }

    .header-link {
        font-size: 20px;
    }
    /*------------------*/

    .about-lokalise-img {
        width: 80%;
    }

    .about-lokalise-title {
        font-size: 45px;
        line-height: 55px;
        margin-bottom: 25px;
    }
    
    .about-lokalise-button-try-it, .about-lokalise-button-book {
        min-width: 150px;
    }

    .about-lokalise-footer {
        font-size: 18px;
    }
    /*------------------------*/

    .choice-list {
        flex-direction: column;
  
    }

    .companies-choice {
        padding: 70px 0;
    }

    .choice-item {
        margin: 0 0 40px;

    }
    /*-----------------------------*/

    .advantages-card-wrap {
        flex-direction: column;
    }

    .advantages-card:nth-child(even) .advantages-card-wrap {
        flex-direction: column;
    }

    .advantages-card-img {
        width: 100%;
        height: auto;
    }

    .advanteges-card-content {
        width: 100%;
    }

    .advantages-card-content-link {
        margin-bottom: 30px;
    }

    .advantages-card-content-title {
        font-size: 45px;
        line-height: 55px;
    }
}