/*-------------- reset -----------------*/
@import 'reset';

/*------------- fonts ----------------*/
@import 'fonts';

/*--------------- variables ----------------*/
@import 'variables';

/*--------------- header ----------------*/
@import 'header';

/*-------------- main -----------------*/
@import 'main-first-part';

@import 'main-second-part';

@import 'main-third-part';

/*--------------- footer ----------------*/
@import 'footer';
@import 'media';
