* {
    box-sizing: border-box;
}

body {
    font-family: "Graphik LCG";
    color: #000;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    min-width: 360px;
}

a {
    text-decoration: none;
    color: #000;
}

$main-color: #FF6336;

.content-box {
    display: block;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    padding: 0 75px;
}

%title-style {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
}

%button-size {
    display: inline-block;
    vertical-align: top;
    min-width: 160px;
    padding: 0 20px;
    text-align: center;
    font-size: 16px;
    line-height: 58px;
    font-weight: 600;
    margin-right: 10px;
}

%button-size:last-child {
    margin-right: 0;
}

%button-color-orange {
    background-color: $main-color;
    border: 1px solid $main-color;
    color: #fff;
}

%button-color-orange:hover {
    background-color: #ffffff;
    border: 1px solid  $main-color;
    color: $main-color;
}

%button-color-white {
    background-color: #fff;
    border: 1px solid  #9f9f9f;
}

%button-color-white:hover {
    border: 1px solid  $main-color;
    color: $main-color;
}
